{% extends "index.html" %}

{% block header %}
    <h1>{% block title %}Wyswietlanie danych{% endblock %}</h1>
{% endblock %}

{% block content %}
    <a href="{{ url_for('data', function='1') }}">Lista pracowników</a>
    <a href="{{ url_for('data', function='2') }}">Liczba pracowników na danej zmianie</a>
    <a href="{{ url_for('data', function='3') }}">Lista cel na danym bloku</a>
    {% if show %}
        <table>
            <tr>
                {% for name in names %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>

            {% for row in records %}
                <tr>
                    {% for element in row %}
                        <td>{{ element }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
